/* ESTO ES EL TIPO DE FUENTE DEL PROYECTO*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* ESTO ASE QUITA LA LINEA DE BAJA DE LOS ENLACES Y MAS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* ESTO SERVIRA PARA CAMBIAR LAS LETRAS SEGUN NUESTRA FUENTE*/
body {
    /* LA PRIMERA LINEA ES PARA CAMBIAR DE COLOR LA PANTALLA PRINCIPAL y color de la boddy -----------*/
    background-color: #080808;
    font-family: 'Poppins', sans-serif;
}

/*LO QEU HACE ES EVITAR PARA SALIR DEL CONTENDOR O DEPANTALLA
Establece un ancho máximo para centrar el contenido dentro del contenedor, dejando márgenes automáticos a los lados.*/
.container {
    max-width: 1200px;
    margin: 0 auto;    
}
/* AJUSTA EL TAMAÑO DE LAS FLECHAS Y TAMBIEN  HACE  LA UBICACION DE LAS FLECHAS DE LAS IMAGENES */
.swiper-button-prev::after{
    font-size: 25px;
}
.swiper-button-next::after{
    font-size: 25px;
}

/* LO QUE HACE ES MODIFICAR EL COLOR DE LAS FLECHiTAS DE LAS IMAGENES*/
.swiper-button-next{
    color: #ffffff;
}
.swiper-button-prev{
    color: #ffffff;
}
/* para el color de las bolitas cuando cambiamos de pestaña */

.swiper-pagination-bullet{
    background-color: #D3D2D2;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background-color: #DB241B;
}
/* PARA ARRGLAR EL LOGO DE MENU*/
.menu{
    /*LA PRIMERA LINEA ES PARA CAMBIAR EL COLOR DEL HEADER DEL MENU............................................................................*/
    background-color: #ffffff;
    padding: 20px 0;
    position:absolute ;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    margin: auto;
    z-index: 1000;    
}
.nabvar{
    display: flex;
}
.menu-1 a {
  color: #000000; /*color */
  text-decoration: none; 
  font-weight: bold;    
  margin-top: auto;
}
.menu-1 a:hover {
  color: #ff0000; /* cambia a rojo, o el color que prefieras */
}
/**para mover el logo principal*/
.menu-1{
    margin-right: 290px;           
}
/**para mover todo lo de horario y logos*/
.menu-2{
    margin-left: 180px;
    display: flex;
    align-items: center; /**para centrar los logos */
} 
.logo-1{
    width: 0; /**para ocultar el logo*/
}
/* PARA CAMBIAR DE TAMAÑO EL LOGO PRINCIPAL*/
.logo-2{
    width: 250px;  /*para el tamañano del logo*/
}  
/* PARA QUE LOS LOGOS SE PONGAN EN LINEA*/
.socials{
    display: flex;
}
/* ESTO NOS SERVIRA PARA AGREGAR UN CONTORNO A LAS LOGOS DE REDES SOCIALES*/
.social{
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #000000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0); /* Color del icono SVG */
    transition: color 0.3s, border-color 0.3s;

}

.social2{
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255); /* Color del icono SVG */
    transition: color 0.3s, border-color 0.3s;
}
.socials2{
    display: flex;
}
.social2:hover{
    background-color: #90EE90; /* para el color cuando pasamos el mouse por las redes socilaes*/
}
/* ESTO NOS SERVIRA PARA  QUE CUADNO PASEMOS LE MOUSE SE PONGA DE COLOR OJO O EL DESEADO*/

.social:hover{
    background-color: #90EE90; /* para el color cuando pasamos el mouse por las redes socilaes*/
}
.social img{
    margin: 8px 0 0 10px; /* para sentrar los logos dentro del circulo*/
}
/* ESTO NOS SERVIRA PARA QUE EL LOGO DE MENU VAYA ALA ISQUIERDA*/
.menu .nabvar ul li {
    position: relative;
    float: left;
}
/* ESTO SIRBE PARA PARA FORMAR BIEN EL PANEL*/
.menu .nabvar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #050303;
    display: block;
}
#menu{
    display: none;
}

.menu-icono {
    width: 25px;
}
.menu label {
    cursor: pointer;
    display: none;
}

.header-content{
    margin-top: 200px;
    padding-bottom: 50px;
    
}

/*modificamos el slider*/
.slider{
    display: flex;
    align-items: center;
    gap: 40px;
}

.slider-txt{
    margin-left: 85px;
    width: 50%;
}
.slider-txt h1{
    font-size: 70px;
    color: #ffffff;/* para el color del titulo  del slider de la imagen despues del menu*/
    text-transform: uppercase;
    font-weight: 800;
}
.slider-txt p {
    font-size: 18px;
    color: #ffffff; /* para el color de la descripcion del slaider*/
    text-align: justify;
    display: flex;
}

.botones{
    margin-top: 120px; /* para separa los botones de la descripcion del slaider*/

}
/*PARA LOS BOTONES DE COMPPRAR*/
.btn-1{
    display: inline-block;
    padding: 15px 35px;
    margin-right: 20px; /*para separar los botones de comprar y menu*/
    border:  2px solid #DB241B;
    border-radius: 50px;
    color: #FFFFFF;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.btn-1:hover{
    border: 2px solid #ff0000 ;
    background-color: #ff0000;
}

/*PARA LA IMAGEN*/
.slider-img{
    width: 50%;
}
.slider-img img{
    margin-right: 225px;
    width: 550px;   
}
/*AHORA TRABAJAREMOS EN LOS TABS*/
.products{
    /*PARA CAMBIAR DE COLOR DE LOS PRODUCTOS................................................................................................*/
    background-color: #ffffff;    
    scroll-behavior: smooth;
}
.tabs{
    display: flex;
    flex-wrap: wrap;
    padding: 10px  0px;
}
.tabs label{
    width: 15%;
    order: 1;
    display: block;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    color: #000000; /*para cambiar el color de la letra de del header categorias*/
    font-weight: 700;
    /*PARA EL TAMAÑO DE LA LETRA*/
    font-size: 20px ;
    text-transform: uppercase ;
    transition: background ease 0.2s;
}
.tabs .tab{
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding-top:  25px;
}
.tabs input[type="radio"]{
    display: none;
}
.tabs input[type="radio"]:checked + label{
    border-bottom:  2px solid #ff0000; /*para cambiar el color de la linea en la que estamos*/
    color: #ff0000; /*para el color de la letra de la penstaña en la que estamos*/
}
/*PARA TODA LA VARIEDAD*/
.tabs input[type="radio"]:checked + label + .tab {
    display: block ;
}
.product {
    display: flex;
    align-items: center;
    padding: 25px;
    margin: 0 10px;
}
.product-img{
    width: 70%;
    text-align: left;
}
.product-img h4{
    display: inline-block;
    padding: 5px 7px;
    line-height: 15px;
    color: #000000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid #555555;
    margin-bottom: 50px;
}
/*para el boton de las imagenes de cada categoria */
.btn-categoria {
  display: inline-block;
  background-color: #d41717;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.3s ease;
}
.btn-categoria:hover {
  background-color: #f30000;
}
/*para cambiar el tamaño de las imagenes de slider categoria*/
.product-img img{
    width: 150px; 
    height: 160px;    
 }
 .product-txt{
    width: 50%;
    margin-left: 10px;
    text-align: left;
 }
 /**/
 .product-txt {
    color: #000000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 5px;
 }
 .product-txt p {
    color: #000000; /*para el color de la calidad de la categoria*/
    font-size: 16px;
    margin-bottom: 15px;
 }
 .product-txt span{
    color: #000000;
    font-size: 18px;
    font-weight: 800;

 }
 .info{
    padding: 60px 0px;
    display: flex;
    align-items: center;
 }
 .info-img{
    width: 50%;
 }
 /*tamaño de las imagenes del header info */
 .info-img img{
    width: 500px;
    height: 450px;
 }
 .info-txt{
    width: 50%;
 }
 .info-txt h2{
    font-size: 75px;
    color:#ffffff ;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;    
 }
 .info-txt p{
    font-size: 18px;
    color: #ffffff; /*para cambiaar el color del header informacion*/
    margin-bottom: 50px;
    text-align: justify;
 }
 /*PAR A EL BOTON 2*/
 .btn-2{
    display: inline-block;
    padding: 15px 35px;
    background-color: #DB241B;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 50px;
 }
 .btn-2:hover{
    background-color:#555555;
 }
 .horario{
    padding: 50px 0px;
    /*ESTE CAMBIA EL COLOR DE LA BARRA HORARIO   ...............................................................................*/
    background-color:#322323;
 }
 .horario-info h2 {
    font-size: 75px;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
 }
 .horario-txt {
    display: flex;
    justify-content: space-between;
 }
 .txt{
    color: #FFFFFF;
 }
 .txt h4 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 30px;
 }
 .txt p{
    font-size: 18px;   
    font-weight: 600;
    margin-bottom: 15px;
 }

 .footer{/*es la parte final*/
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
 }
 .links h4 {
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 25px;

 }
.links ul li a {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}
.logo-2f {
  width: 120px;   
  height: 60px;  
  margin-top: 50px;
}
.derechosdeautor {
    text-align: center;
    margin-top: auto;
    font-size: 14px;
    color: #ffffff;        
}
.frace{
    text-align: center;
    margin-top: auto;
    font-size: 12px;
    color: #FFFFFF;
    text-transform: uppercase;     
}
@media(max-width:991px){
    .menu{
        padding: 20px;
        justify-content: space-between;
    }
    .menu-2{
        display: none;
    }
    .logo-1{
        width: 100px;
    }
    .logo-2{

        width: 0px;
    }
    .menu label{
        display: initial;
    }
    .menu .nabvar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #ffffff;
        display: none;
    }
    .menu .nabvar ul li {
        width: 100%;

    }
    #menu:checked ~ .nabvar {
        display: initial;
    }
    .header-content{
        padding: 30px;
        margin-top: 100px;
    }
    .slider{
        flex-direction: column;
    }
    .slider-txt{
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }
    .slider-txt h1 {
        font-size: 50px;

    }
    .slider-txt p{
        font-size: 16px;

    }
    .btn-1{
        padding: 10px 25px;
        font-size: 14px;

    }
    .slider-img{
        width: 100%;
        text-align: center;
    }
    .slider-img img{
        margin-right: 0px;
        width: 300px;
    }
  /*ESTO PARA QUE SE SENTRE MAS BONITO DE ACA ASIA ARIBA*/

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets, .swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -7px;

  }
  .tabs{
    padding: 50px 30px;

  }
  .tabs label{
    width: 33%;
  }
  .info{
    padding: 30px;
    flex-direction: column;
  }
  .info-img{
    width: 100%;
    text-align: center;
  }
  .info-img img{
    width: 400px;
    height: 200px;
    margin-bottom: 25px ;
  }
  .info-txt{
    width: 100%;
    text-align: center;

  }
  .info-txt h2{
    font-size: 50px;
  }
  .info-txt p{
    font-size: 16px
  }
  .btn-1{
    font-size: 16px;
  }
  .horario{
    padding: 30px;
    text-align: center;
  }
  .horario-info h2{
    font-size: 50px;
    margin-bottom: 15px;
  }
  .horario-txt{
    flex-direction: column;
  }

  .socials{
    justify-content: center;
    
  }
  .social img{
    margin: 12px 0 0 0;
  }

  .footer{
    padding: 30px;
    flex-direction: column;
    text-align: center;

  }
  .links h4{
    margin: 25px 0px 10px 0px;
  }


}